@{
    ViewData["Title"] = "Адмін панелька домашня";
}
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Car Rent 1.0</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" asp-controller="ControllerMainAdminPanel" asp-action="MainAdminPanel">Домашня сторінка</a>
                    <a class="nav-link" asp-controller="ControlerCars" asp-action="Cars">Автомобілі</a>
                    <a class="nav-link" asp-controller="ControllerCustoners" asp-action="Customers">Клієнти</a>
                    <a class="nav-link" asp-controller="ControllerRents" asp-action="Rents">Оренда</a>
                    <a class="nav-link" asp-controller="ControllerReturns" asp-action="Returns">Повернення</a>
                    <a class="nav-link" asp-controller="ControllerLogin" asp-action="LoginPage">Вийти</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5 ml-5">
        <div class="row mb-3">
            <div class="jumbotron bg-primary">
                <div class="container">
                    <h1 class="display-4">Панель адміністратора системи управління прокатом автомобілів</h1>
                    <p class="lead">Адміністратор може додавати, редагувати та вилучати автомобілі а також клієнтами, і зробити повернення автомобілів</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;
                    height: 300px;                    
                    background-image: url('/img/VWPassat1.jpg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;"></div>
                    <div></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/Porsche911select2.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/nissangtrSelect3.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/SkodaOctaviaA8Select4.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                    <div><h1></h1></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/SeatIbizaSelect5.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/VolvoV40Select6.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/MitsubishiOutlanderSelect7.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="image-box">
                    <div style="width: 100%;height: 300px;background-image: url('/img/ToyotaCorollaSelect8.jpg');background-size: cover;background-repeat: no-repeat;background-position: center;"></div>

                </div>
            </div>
        </div>
    </div>


</body>
